# Dependencies
node_modules/
package-lock.json

# Firebase
.firebaserc
firebase-debug.log
firestore-debug.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env
.env.local

# Build files
dist/
build/
